<!DOCTYPE html>
<html>

<head>
    <title>Express web server--HBS page</title>
</head>

<body>

    <h1>Debojyoti Loves Rituparna HBS </h1>
    <h1>{{currentyear}}</h1>
    <h2>{{location}}</h2>
 

</body>

</html>